{% extends 'SofitechAdminBundle::person.detail.html.twig' %}
{% block personetype %}
    	Client
{% endblock %}
{% block persontr %}
	<tr>
		<th>Entreprise</th>
        <td>{{ entity.company }}</td>
	</tr>
{% endblock %}