{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">	

	<div id="fos_user_change_password_form">
    	<div class="form-group col-md-7">
    		<input type="password" placeholder="Password" id="fos_user_change_password_form_current_password" name="fos_user_change_password_form[current_password]" class="form-control" required="required" />
    	</div>
	    <div class="form-group col-md-7">                
	    	<input type="password" placeholder="Nouveau password" id="fos_user_change_password_form_plainPassword_first" name="fos_user_change_password_form[plainPassword][first]" class="form-control" required="required" />
	    </div>
	    <div class="form-group col-md-7">                
			<input type="password" placeholder="Nouveau password" id="fos_user_change_password_form_plainPassword_second" name="fos_user_change_password_form[plainPassword][second]" class="form-control" required="required" />
	    </div>
	    <div>
	    {{ form_widget(form._token) }}
	    </div>
	    <div class="form-group col-md-7">
	        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Enregistrer</button>
	    </div>

    
</form>


    
