{% extends 'SofitechAdminBundle::layout.html.twig' %}
{% block leftmenu %}    
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('teacher') }}" class="btn btn-default"><span class="glyphicon glyphicon-list-alt"></span> Liste des formateurs</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    {% include 'SofitechAdminBundle:Teacher:detail.html.twig' %}
{% endblock %}