{% extends 'SofitechAdminBundle::person.detail.html.twig' %}
{% block personetype %}
    	Etudiant
{% endblock %}

{% block persontr %}
	<tr>
		<th>Entreprise</th>
        <td>{{ entity.customer }}</td>
	</tr>
{% endblock %}
