{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-2">
    {% block leftmenu %}{% endblock %}
    </div>
    <div class="col-md-10">
	{% block content %}{% endblock %}
    </div >
{% endblock %}