{% extends 'form_div_layout.html.twig' %}

{% block entity_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
        {% if datalist is not null %}
            <div> Yoooooooooloooooooooooooooo</div>{{ datalist }}
        {% endif %}

    {% endspaceless %}
{% endblock %}